/**
 * Dev9 theme for reveal.js.
 *
 * By Veronica Canterbury, vimcat.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Nunito);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #000;
$headingColor: rgba(74,134,232,1);

$mainFontSize: 38px;
$mainFont: 'Nunito', sans-serif; // Main Font Match
$headingFont: 'Nunito', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.3em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

section {
	text-align: left;
	height: 100%;
	&:before {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    content: '';
	    background: url("../../images/dev9logo-small.png") right bottom no-repeat;
	    background-size: auto;
	    width: 93px;
	    height: 76px;
	    z-index: 1;
	}

	&:after {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    content: 'Confidential';
	    color: #ddd;
	    font-size: 60%;
	    background: url("../../images/dev9horizontalRule.png") right bottom no-repeat;
	    background-size: 70%;
	    width: 100%;
	    z-index: 1;
	}

	h1:after, h2:after {
		content: '';
		background: url("../../images/dev9horizontalRule.png") right bottom no-repeat;
	    background-size: 70%;
	    width: 100%;
	    height: 2px;
	    transform: rotate(-180deg);
	    display: block;
	}

	section {
		&:after, &:before {
			background: none;
			content: '';
		}
	}
}

ul ul {
	list-style-type: disc !important;
}

li {
	color: orange;
	span {
		color: #000;
	}
}

html.cover-page body {
	background: url('../../images/cover-background.svg');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	section {
		&:before {
			background: none;
		}

		.title {
			color: #fff;
			text-shadow:    
				-1px -1px 0 #000492,  
			    1px -1px 0 #000492,
			    -1px 1px 0 #000492,
			     1px 1px 0 #000492;
		}

		.subtitle {
			color: #ccc;
			text-shadow:    
				-1px -1px 0 #000492,  
			    1px -1px 0 #000492,
			    -1px 1px 0 #000492,
			     1px 1px 0 #000492;
		}

		&:after {
			content: '';
			background: none;
		}

		h1:after {
			background: none;
		}
	}

	&:before {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    left: auto;
	    right: 20px;
	    content: '';
	    background: url("../../images/dev9logo-medium.png") right bottom no-repeat;
	    background-size: auto;
	    width: 300px;
	    height: 237px;
	    z-index: 1;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------