/**
 * Dev9 theme for reveal.js.
 *
 * By Veronica Canterbury, vimcat.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Nunito);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #000;
$headingColor: rgba(74,134,232,1);

$mainFontSize: 38px;
$mainFont: 'Nunito', sans-serif; // Main Font Match
$headingFont: 'Nunito', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.3em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

section {
	text-align: left;
	height: 100%;
	padding-top: 0 !important;
    padding-bottom: 0 !important;
	&:before {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    content: '';
	    background: url("../../images/dev9logo-small.png") right bottom no-repeat;
	    background-size: auto;
	    width: 93px;
	    height: 76px;
	    z-index: 1;
	}

	&:after {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    content: 'Confidential';
	    color: #ddd;
	    font-size: 60%;
	    background: url("../../images/dev9horizontalRule.png") right bottom no-repeat;
	    background-size: 70%;
	    width: 100%;
	    z-index: 1;
	}

	h1:after, h2:after {
		content: '';
		background: url("../../images/dev9horizontalRule.png") right bottom no-repeat;
	    background-size: 70%;
	    width: 100%;
	    height: 2px;
	    transform: rotate(-180deg);
	    display: block;
	    padding-bottom:0.3em;
	}

	section {
		&:after, &:before {
			background: none;
			content: '';
		}
	}
}

ul ul {
	list-style-type: disc !important;
}

ul li.no-bullet {
	list-style-type: none !important;
}


li {
	color: orange;

	span {
		color: #000;
	}
	dl {
		color: #000;
	}
	dt {
		font-style: italic !important;
	}

	li {
		font-size: 0.80em !important;

		li {
			font-size: 0.8em !important;
		}
	}
}

html.cover-page body {
	background: url('../../images/cover-background.svg');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	section {
		&:before {
			background: none;
		}

		.title {
			color: #fff;
			text-shadow:    
				-1px -1px 0 #000492,  
			    1px -1px 0 #000492,
			    -1px 1px 0 #000492,
			     1px 1px 0 #000492;
		}

		.subtitle {
			color: #ccc;
			text-shadow:    
				-1px -1px 0 #000492,  
			    1px -1px 0 #000492,
			    -1px 1px 0 #000492,
			     1px 1px 0 #000492;
		}

		&:after {
			content: '';
			background: none;
		}

		h1:after {
			background: none;
		}
	}

	&:before {
		display: block;
	    position: absolute;
	    bottom: 20px;
	    left: auto;
	    right: 20px;
	    content: '';
	    background: url("../../images/dev9logo-medium.png") right bottom no-repeat;
	    background-size: auto;
	    width: 300px;
	    height: 237px;
	    z-index: 1;
	}
}


// Slide Columns

.left-50-slide {
	display:inline; float:left; width:48%;height:100%;
}

.right-50-slide {
	display:inline; float:right; width:48%;height:100%;
}



.left-70-slide {
	display:inline; float:left; width:68%;
}

.right-70-slide {
	display:inline; float:right; width:68%;
}


.right-30-slide {
	display:inline; float:right; width:27%;
}

.left-30-slide {
	display:inline; float:left; width:27%;
}

div.clear {
	clear:both;
}

div.center-contents {
	text-align: center;

	small {
		font-size: 0.50em;
		vertical-align: top;
		color: #666;
		font-style: oblique;
	}
}

.reveal {

	pre {
		code  {
			font-size: 0.70em;
			max-height: 50em;
		}
	}

	section {
		img.no-border {
			border: 0px;
			box-shadow:none;
		}

		img.full-size {
			max-width:inherit;
			max-height:100%;
			padding-right:1em;
		}
	}

	u {
		color:#69BE28;
		font-style: oblique;
		font-weight: 800;
	}

	blockquote { 
	    margin : 0 10px;
	    padding: 10px 20px 25px 20px;
	    font-weight:bold;
	    color : #90918c;
	    border: 5px dashed #fff;
	    width: 85% !important;
	}

	blockquote.small {
		width: 70% !important
	}

	blockquote p {
	    margin: 0;
	    padding-top:10px;
	}

}

table.descriptions {
	
	thead {
		font-weight: bold;
		color: orange;
	}
	tbody {
		color:#000;
	}
}

/*********************************************
* RevealCode Focus
*********************************************/
.line.focus {
	background: #3295c3;
}

.reveal .slides section .fragment.current-only {
	opacity: 1;
	visibility: visible;
	display: none;
}
.reveal .slides section .fragment.current-only.current-fragment {
	display: block;
}
.line {
	display: block;
}

span.code-fragment {
	font-size:0.7em !important;
}


/*********************************************
 * TAGCLOUD
 *********************************************/
span.clouditem {
  padding-left: 0.15em;
  padding-right: 0.15em;
  line-height: 90%;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------